.header {
  width: 100%;
  height: 50vh;
  background-color: var(--white);
  background-image: url('../images/header1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  background-position: top;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.containText {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  margin-left: 100px;
}
.title {
  color: var(--white);
  font-size: 50px;
}
.parrafo {
  color: var(--white);

  font-size: 18px;
}
.btnProductos {
  background: var(--lightblue);
  text-decoration: none;
  color: var(--white);
  display: block;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 30px;
  margin-top: 20px;
}

.btnProductos:hover {
  box-shadow: 0 0 15px var(--white);
}

.btnProductos:hover ~ .productos {
  opacity: 1;
}

.body_title {
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 9px 0px rgb(0 0 0 / 38%);
  background: var(--lightblue);
}
.body_title h3 {
  font-size: 40px;
  font-weight: 600;
  color: var(--success)
 
}

.body_title button {
  display: flex;
  font-size: 10px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
