:root {
  --darkBlue: #3b4880;
  --lightblue: #7897c3;
  --blue: #174a96;
  --black: #303030;
  --white: #fefefe;
  --yelow: #e7b839;

  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;

  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;

  --titulo: 700;
}
.products {
  width: 100%;
  height: 50vh;
  border-top: 2px dashed gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.card {
  width: 200px;
  height: 270px;
  border: 1px solid gray;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 9px 2px rgba(75, 72, 72, 0.28);
}

.containImg {
  width: 100%;
  height: 60%;
}
.imgCard {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nameProduct {
  color: #fff;
  background: var(--darkBlue);
  text-align: center;
  font-size: 1rem;
}
.card div {
  width: 100%;
  height: 35%;
  background: var(--darkBlue);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.price {
  font-size: 2rem;
  color: #fff;
}
.buy {
  width: 50%;
  height: 50px;
  background: none;
  color: #fff;
  cursor: pointer;
  border-radius: 15px;
}
.buy:hover {
  background: var(--lightblue);
}
