
.bgModal {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(
    50% 0%,
    50% 47%,
    100% 60%,
    50% 47%,
    50% 47%,
    0% 60%,
    50% 47%
  );
  transition: clip-path 0.5s ease-in-out;
}

.modal {
  width: 550px;
  height: 500px;
  background: #fff;
  border-radius: 15px; 
  position: relative;

}
.button {
  width: 200px;
  height: 50px;
  background: var(--lightBlue);
  border-radius: 30px;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0px 0px 10px var(--lightBlue);
}

.modal > figure {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  
}
.imgIcon {
  width: 15px;
  height: 15px;
}

.img_prod_pop {
  height: 250px;

}

.nameProductPopUp  {
 
  color: var(--lightBlue);
}

.pricePopUp {
  font-size: 40px;
  font-weight: bold;
  
  text-align: end;
  padding-right: 30px;


}

.add_cart {  
  font-weight: bold;
  text-decoration: none;
  text-align: end;
  color: brown;
  padding-right: 30px;
}


